@tailwind base;
@tailwind components;
@tailwind utilities;

// Layout -----------------------------------------------

:root {
  --column-width: 72px;
  --gutter-width: 24px;
  --container-width: calc(
    (var(--column-width) * 12) + (var(--gutter-width) * 11)
  );
}

// Centered container
.container {
  max-width: var(--container-width);
  margin: 0 auto; // Centers the container
  padding: 0 var(--gutter-width); // Adds padding on both sides
  display: flex;
  flex-direction: column; // Ensures children stack vertically
  align-items: center; // Centers children horizontally within the container
  position: relative; // Required for absolute positioning within it
}

// Utility classes for column spans: Loop to generate col-span-1 to col-span-12
@for $i from 1 through 12 {
  .col-span-#{$i} {
    flex: 0
      0
      calc(var(--column-width) * #{$i} + var(--gutter-width) * (#{$i} - 1));
    max-width: calc(
      var(--column-width) * #{$i} + var(--gutter-width) * (#{$i} - 1)
    );
    width: 100%;
  }
}

// Fonts -----------------------------------------------

body {
  font-family: 'Inter', sans-serif;
  color: var(--color-cold-night);
}

h1 {
  font-size: 32px !important;
  font-weight: 700 !important; // Bold
}

h2 {
  font-size: 20px !important;
  font-weight: 500 !important; // Medium
}

a {
  color: var(--color-cold-purple) !important;
  text-decoration: none !important;
}

.title-container {
  width: 100%;
  text-align: center;
}

.copy {
  @extend .result-value-small;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

// Lists
ol {
  list-style: decimal !important; // Ensure numbers appear
}

ul {
  list-style-type: disc;
  margin: 0;
  padding: 0 0 0 1.5rem;
}

li {
  margin: 0.5rem 0;
}

// Labels
.label {
  font-size: 12px !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  margin-right: 12px;
}

.label-key {
  @extend .label;
  padding: 0;
  margin-bottom: 12px;
}

.label-jurisdiction {
  @extend .label;
  background-color: var(--color-cold-gray-alpha);
  padding: 5px 7px;
}

.label-question {
  @extend .label;
  color: var(--color-label-question);
  padding: 4px 6px;
  background-color: var(--color-label-question-alpha);
  border: 1px solid var(--color-label-question);
}

.label-court-decision {
  @extend .label;
  color: var(--color-label-court-decision);
  padding: 4px 6px;
  background-color: var(--color-label-court-decision-alpha);
  border: 1px solid var(--color-label-court-decision);
}

.label-legal-instrument {
  @extend .label;
  color: var(--color-label-legal-instrument);
  padding: 4px 6px;
  background-color: var(--color-label-legal-instrument-alpha);
  border: 1px solid var(--color-label-legal-instrument);
}

.label-literature {
  @extend .label;
  color: var(--color-label-literature);
  padding: 4px 6px;
  background-color: var(--color-label-literature-alpha);
  border: 1px solid var(--color-label-literature);
}

.label-theme {
  @extend .label;
  color: var(--color-cold-night-alpha);
  background-color: white;
  padding: 4px 6px;
  border: 1px solid var(--color-cold-night-alpha-25);
}

// Results
.result-value {
  font-weight: 700 !important; // Bold
  word-wrap: break-word; // Allows breaking within words if necessary
  word-break: break-word; // Breaks words that are too long
  white-space: pre-wrap; // Preserves whitespace and line breaks, but also allows wrapping
}

.result-value-large {
  @extend .result-value;
  font-size: 28px !important;
  margin-bottom: 6px !important;
  margin-top: -5px !important;
}

.result-value-medium {
  @extend .result-value;
  font-size: 20px !important;
  line-height: 28px !important;
  margin-bottom: 16px !important;
}

.result-value-small {
  @extend .result-value;
  font-size: 14px !important;
  font-weight: 400 !important; // Regular
  line-height: 26px !important;
  margin-bottom: 10px !important;
  white-space: normal;
}

.result-item {
  margin-bottom: 1rem;
}

// UI Elements -----------------------------------------------

.suggestion-button {
  color: var(--color-cold-purple) !important;
  font-size: 20px !important;
  text-decoration: none !important;
}

// Info Box in Jurisdiction Map
.info {
  position: absolute;
  z-index: 1000;
  background: white;
  font-family: 'Inter', Arial, sans-serif; // Replace with your global font
  padding-right: 12px;
  padding-bottom: 6px;
}

// USelectmenu
.cold-uselectmenu button {
  box-shadow: none !important;
  border: 1px solid var(--color-cold-gray) !important;
  border-radius: 0 !important;
  background-color: white !important;
}

// CoLD Card
.cold-ucard {
  margin-bottom: 24px;
}

.cold-ucard-info {
  @extend .cold-ucard;
  margin-bottom: -8px;
  background-color: var(--cold-dark-gray) !important;
}

// Curser on plot
.js-plotly-plot .nsewdrag {
  cursor: default; /* Set default arrow cursor for non-interactive elements */
}

// * {
//   outline: 1px solid red; /* Highlights every element */
// }
