.greyed-out {
  color: grey;
  opacity: 0.5;
  cursor: not-allowed;
}

.close-link {
  position: absolute;
  top: -20px;
  right: -10px;
  text-decoration: none;
  cursor: pointer;
  display: flex; /* Use flexbox to align icon and text horizontally */
  align-items: center; /* Align icon and text vertically */
}

.icon-wrapper {
  margin-right: 4px;
  margin-top: 5px;
}

.result-item {
  margin-bottom: 1rem;
}

.provision-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-container {
  display: flex; /* Keep the label and select in a row */
  align-items: center; /* Align them vertically */
}

.display-label {
  margin-right: 8px; /* Add space between "Display:" and the dropdown */
  text-align: right; /* Right align the "Display:" text */
  font-size: x-small;
  font-weight: bold;
}

.result-key {
  font-size: x-small;
  font-weight: bold;
  text-transform: uppercase;
}

/* Text wrapping */
.result-value {
  word-wrap: break-word; /* Allows breaking within words if necessary */
  word-break: break-word; /* Breaks words that are too long */
  white-space: pre-wrap; /* Preserves whitespace and line breaks, but also allows wrapping */
  margin-bottom: 2em;
}

.no-margin {
  margin-bottom: 0;
}

a {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
}

.title-container {
  width: 100%;
  text-align: center; /* Ensure the text inside is centered */
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 1em;
}

h2 {
  font-size: large;
  margin-bottom: 2em;
}

h3 {
  font-size: medium;
  margin: 1.5em 0 1em;
}

.suggestions-container {
  display: flex;
  gap: 20px; /* Adds space between buttons */
}

.suggestion-button {
  flex-shrink: 0; /* Prevents the buttons from shrinking */
}
