/* General design */
body {
    background-color: #fff;/*#2c2f33;*/
    color: #333;/*#ffffff;*/
}

/* Change all fonts to helvetica */
body, h1, h2, h3, h4, h5, h6, p, input[type="text"], input[type="submit"] {
    font-family: "Helvetica", sans-serif;
}

/* Style the text input field to make it bigger */
input[type="text"] {
    font-size: 16px; /* Increase the font size */
    padding: 10px; /* Add more padding for larger appearance */
    width: 80%; /* Make the input field wider */
    margin-bottom: 10px; /* Add some space below the input field */
}
/* Optional: Style the submit button to match the input field style */
input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}