<!DOCTYPE html>
<html>
<head>
    <title>CoLD Web App</title>
    <link id="theme-link" rel="stylesheet" href="">
    <script>
        // Immediately set the correct theme on page load
        window.onload = function() {
            var theme = localStorage.getItem('theme') || 'light'; // Default to light theme
            document.getElementById('theme-link').href = '/static/styles-' + theme + '.css';
        };
    </script>
</head>
<body>
    <div class="header"
        <button id="theme-button" onclick="switchTheme()">Search CoLD</button>
        <!-- <h2>Search CoLD</h2> -->
    </div>
    <form method="post">
        <input type="text" name="search_string">
        <input type="submit" value="Search">
    </form>
    {% if request.form.search_string %}
        <p>Search results for "{{ request.form.search_string }}"</p>
    {% endif %}
    {% if search_output %}
        <div>{{ search_output|safe }}</div> <!-- Use |safe to render HTML content -->
    {% endif %}

    <script>
        function switchTheme() {
            var link = document.getElementById('theme-link');
            var currentTheme = link.href.split('/').pop().split('-')[1].split('.')[0];
            var newTheme = currentTheme === 'light' ? 'dark' : 'light';
            // var nocache = new Date().getTime(); // Add a timestamp to the URL to prevent caching
            // link.href = '/static/styles-' + newTheme + '.css?' + nocache;
            link.href = '/static/styles-' + newTheme + '.css';
            localStorage.setItem('theme', newTheme); // Save the new theme to local storage
        }
    </script>
</body>
</html>