name: Trigger auto deployment for cold-frontend

# When this action will be executed
on:
  # Allow manual trigger
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.COLDFRONTEND_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.COLDFRONTEND_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.COLDFRONTEND_AZURE_SUBSCRIPTION_ID }}

      - name: Build and deploy to Azure Container Apps
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}/frontend
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          containerAppName: cold-frontend
          imageToBuild: choiceoflawdataverse/cold-frontend:${{ github.sha }}
          ingress: external
          registryPassword: ${{ secrets.COLDFRONTEND_REGISTRY_PASSWORD }}
          registryUrl: docker.io
          registryUsername: ${{ secrets.COLDFRONTEND_REGISTRY_USERNAME }}
          resourceGroup: cold
          targetPort: 3000
          _buildArgumentsKey_: |
            _buildArgumentsValues_
