name: Manual deployment of cold-backend

on:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Build and deploy to Azure Container Apps
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}/backend
          containerAppName: cold-backend
          imageToBuild: choiceoflawdataverse/cold-backend:${{ github.sha }}
          registryPassword: ${{ secrets.COLDFRONTEND_REGISTRY_PASSWORD }}
          registryUrl: docker.io
          registryUsername: ${{ secrets.COLDFRONTEND_REGISTRY_USERNAME }}
          resourceGroup: cold
