name: Manual deployment of cold-frontend

on:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    environment:
      name: production
      url: https://cold.world

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.COLDFRONTEND_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.COLDFRONTEND_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.COLDFRONTEND_AZURE_SUBSCRIPTION_ID }}

      - name: Build and deploy to Azure Container Apps
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}/frontend

          imageToBuild: choiceoflawdataverse/cold-frontend:${{ github.sha }}

          registryPassword: ${{ secrets.COLDFRONTEND_REGISTRY_PASSWORD }}
          registryUrl: docker.io
          registryUsername: ${{ secrets.COLDFRONTEND_REGISTRY_USERNAME }}

          ingress: external
          containerAppName: cold-frontend
          resourceGroup: cold
          targetPort: 3000
